
<section class="container-fluid" id="contactsContainer">
    <div class="row" style="text-align: center;">
        <div class="col-xs-3 col-md-2 col-sm-3 offset-md-2 contactItems" id="linkedin">
            <i class="fa fa-linkedin fa-2x"></i>
        </div>
        <div class="col-xs-3 col-md-2 col-sm-3 contactItems" id="bitbucket">
            <i class="fa fa-bitbucket fa-2x"></i>           
        </div>
        <div class="col-xs-3 col-md-2 col-sm-3 contactItems" id="github">
            <i class="fa fa-github fa-2x"></i>         
        </div>
        <div class="col-xs-3 col-md-2 col-sm-3 offset-right-md-2 contactItems" id="facebook">
            <i class="fa fa-facebook fa-2x"></i>
        </div>
    </div>
    <p><br></p>
    <div class="row" style="">
        <div class="col-md-7 offset-md-2 offset-lg-3">
            <strong>Contact me on my email adress rimitopalli95@gmail.com</strong>
        </div>
    </div>
    
</section>