<section class="container-fluid" id="homeContainer">
    <!--<video playsinline autoplay muted loop poster="" id="bgvid">
        <source src="videos/pc-coding.mp4" type="video/mp4">
    </video>-->
    <div class="row">
        <div class="offset-md-3 col-md-6 col-sm-12">
            <h2 class="intro black-text" id="logo">Nderim Topalli</h2>
            <h1 class="intro black-text" id="position">Full-stack Javascript Developer</h1>
            <hr id="introHr">
            <blockquote class="intro black-text" id="frase">Follow your dreams!</blockquote>
        </div>
    </div>
    <div class="row" id="go-down">
        <div class="col-12">
            <a href="#2" class="black-text" id="discoverLink">
                <p class="black-text">Discover more</p>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</section>
