<section class="container-fluid"  id="skillsContainer">
    <div class="row" id="skillsRow" >
        <div class="col-12"><p class="white-text">Skills</p></div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row langRow">
                <div class="col-md-5 offset-md-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                           <i class="white-text devicon-javascript-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">
                                Javascript is one of the first programming languages I learned. 
                                Now I also know more recent versions like ES6 and ES7
                            </p>
                        </div>
                    </div>
                    <!--<p><hr class="skillsHr"></p>-->
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-nodejs-plain devicons"></i>
                            
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">
                                Thanks to NodeJS great versatility I use it also on IoT side projects
                            </p>
                        </div>
                    </div>
                    <!--<p><hr class="skillsHr"></p>-->
                </div>      
            </div>
            
            <div class="row langRow">
                <div class="col-md-5 offset-md-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-mongodb-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">MongoDB rocks!</p>
                        </div>
                    </div>
                    <!--<p><hr class="skillsHr"></p>-->
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-express-original-wordmark devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">
                                ExpressJS is a great framework 
                                I use every day to implement the REST API and backend of applications
                            </p>
                        </div>
                    </div>
                    <!--<p><hr class="skillsHr"></p>-->
                </div>      
            </div>
            <div class="row langRow">
                <div class="col-md-5 offset-md-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-angularjs-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">
                                AngularJS is my favorite MVC framework I use to build the frontend of applications
                            </p>
                        </div>
                    </div>
                    <!--<p><hr class="skillsHr"></p>-->
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-jquery-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">
                                jQuery is the first JS framework I learned
                            </p>
                        </div>
                    </div>
                    <!--<p><hr class="skillsHr"></p>-->
                </div>      
            </div>
            
            <div class="row langRow">
                <div class="col-md-5 offset-md-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-html5-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">HTML everywhere!</p>
                        </div>
                    </div>
                     <!--<p><hr class="skillsHr"></p>-->
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-css3-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">CSS everywhere!</p>
                        </div>
                    </div>
                     <!--<p><hr class="skillsHr"></p>-->
                </div>      
            </div>

            <div class="row langRow">
                <div class="col-md-11 offset-md-1">
                    <p id="others">
                        Other tecnologies and architectures I am exploring: ReactJS & Redux, 
                        VueJS, Angular2, Johnny-Five, CylonJS, Event-Soucing, GraphQL, etc
                    </p>
                </div>
            </div>
             
            <!--<div class="row">
                <div class="col-md-5 offset-md-1">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-bootstrap-plain devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">helo there trump ipsum</p>
                        </div>
                    </div>
                    <p><hr class="skillsHr"></p>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <i class="white-text devicon-less-plain-wordmark devicons"></i>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <p class="white-text">helo there trump ipsum</p>
                        </div>
                    </div>
                    <p><hr class="skillsHr"></p>
                </div>      
            </div>-->
        </div>
    </div>
</section>