html, body {
    height: 100%
}

.black-text {
    color: rgba(0, 0, 0, 0.9);
}
 
#homeContainer {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, 0.1);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
    padding-top: 12% 
}

.intro {
    font-family: 'Share Tech Mono', monospace;
}

#logo {
    font-size: 2.5em;
}

#position {
    font-size: 2em;
}

#introHr {
    width:100%; 
    border-top:2px solid rgba(0, 0, 0, 0.9);
}

#frase {
    border-left: 5px solid;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px
}

#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover; 
}

#go-down {
    text-align: center;
    margin-top: 15%;
}

#skillsContainer {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 5%; 
}

.devicons {
    font-size: 3em;
}

#skillsRow {
    margin-bottom: 4%
}
#skillsRow p {
    font-size: 2em;
    font-family: 'Share Tech Mono', monospace;
    padding-left: 5%
}

#aboutContainer {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, 0.1);
    padding-top: 5%;
    font-family: 'Share Tech Mono', monospace;
}

.white-text {
    color: white
}

.skillsHr {
    border-top:1px solid rgba(255, 255, 255, 0.9);
    width: 80%;
    margin-left: 0px;
}

.langRow {
    margin-bottom: 3%;
}

#contactsContainer {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
    background-color:rgba(0, 0, 0, 0.8);
    padding-top: 5%;
    padding-bottom: 5%;
    color: rgba(255, 255, 255, 0.9);
}

.contactItems {
    height: 150px;
    line-height: 10;
}

.onHover {

    background-color: rgba(255, 255, 255, 0.20);
}
#map {
    height: 100%;
    bottom: 0;
}
#others {
    color: white;
    font-size: 12px
}